h1 {
  color: #000000;
  font-size: 40px;
}
h2 {
  color: #18A61E;
  text-align: center;
  font-size: 50px;
}
h3 {
  color: #18A61E;
  font-size: 30px;
  text-align: center;
}

body{
  background-image: url("/static/img/backg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #002395;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #72bcd4;
}

/* Menu */
nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  border: 0px solid #373439;
  background-color: #D1CED0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #373439;
  text-align: center;
  padding: 10px 60px;
  text-decoration: none;
  font-size: 25px;
}

nav ul li a:hover:not(.active) {
  background-color: #9F98C9;
}

/* Tables */
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.comicGreen {
  font-family: "Comic Sans MS"e;
  border: 0px solid #4F7849;
  background-color: #CEE0CC;
  width: 1200px;
  height: 800px;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreen td, table.comicGreen th {
  border: 5px solid #000000;
  padding: 15px 0px;
}
table.comicGreen tbody td {
  font-size: 25px;
  font-weight: normal;
  color: #4F7849;
}
table.comicGreen tfoot td {
  font-size: 20px;
}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #002395;
  color: white;
}
