{% extends 'base.html' %}

{% block content %}
      <h2>BURGERY</h2>
<center>
<table class="comicGreen">
<tbody>
<tr>
<td><h1>Pasibus</h1><br> ul. Pleszewska 1 <br> Godz. otwarcia: 10:00 - 22:00 <br> Przedział cenowy: 19zł - 28zł  </td><td><img src="/static/img/pasibus.png" style="height: 350px;width: 700px"></td></tr>
<tr>
<td><h1>Hapos Burger</h1><br> ul. Gwarna 9 <br> Godz. otwarcia: 12:00 - 22:45 <br> Przedział cenowy: 12zł - 26zł </td><td><img src="/static/img/hapos.jpg" style="height: 350px;width: 700px"></td></tr>
<tr>
<td><h1>Gołe Baby</h1><br> ul. Wrocławska 17 <br> Godz. otwarcia: 11:00 - 23:00 <br> Przedział cenowy: 17zł - 22zł </td><td><img src="/static/img/golebaby2.png" style="height: 350px;width: 700px"></td></tr>
<tr>
<td><h1>Big Mik</h1><br> ul. Głogowska 59 <br> Godz. otwarcia: 10:00 - 23:00 <br> Przedział cenowy: 18zł - 24zł </td><td><img src="/static/img/big-mik.jpg" style="height: 350px;width: 700px"></td></tr>
</tbody>
</table>
</center>
{% endblock %}
