{% extends 'base.html' %}

{% block content %}
    <h2>KEBAB</h2>
    <center>
    <table class="comicGreen">
    <tbody>
    <tr>
    <td><h1>Kura Warzyw</h1><br> ul. Wrocławska 20 <br> Godz. otwarcia: 12:00 - 00:00 <br> Przedział cenowy: 15zł - 23zł  </td><td><img src="/static/img/kura.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Stodoła</h1><br> ul. Wielka 9 <br> Godz. otwarcia: 11:00 - 01:00 <br> Przedział cenowy: 13zł - 20zł  </td><td><img src="/static/img/stodola.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Kraszkebab</h1><br> ul. Święty Marcin 58 <br> Godz. otwarcia: 12:00 - 23:00 <br> Przedział cenowy: 13zł - 25zł  </td><td><img src="/static/img/krasz.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Zahir</h1><br> ul. Półwiejska 27 <br> Godz. otwarcia: 12:00 - 05:00 <br> Przedział cenowy: 10zł - 31zł  </td><td><img src="/static/img/zahir.jpg" style="height: 350px;width: 700px"></td></tr>
    </tbody>
    </table>
    </center>

{% endblock %}
