{% extends 'base.html' %}

{% block content %}
    <h2>PIZZA</h2>
    <center>
    <table class="comicGreen">
    <tbody>
    <tr>
    <td><h1>Bar a Boo</h1><br> ul. Taczaka 11/2 <br> Godz. otwarcia: 10:00 - 00:00 <br> Przedział cenowy: 12zł - 32zł  </td><td><img src="/static/img/baraboo.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Sztos</h1><br> ul. Żurawia 19 <br> Godz. otwarcia: 12:00 - 21:00 <br> Przedział cenowy: 20zł - 24zł  </td><td><img src="/static/img/sztos.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Przyjemność</h1><br> ul. Górna Wilda 82/84 <br> Godz. otwarcia: 12:00 - 22:00 <br> Przedział cenowy: 16zł - 32zł  </td><td><img src="/static/img/przyjemność.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Fresh Pizza</h1><br> ul. Bułgarska 2A <br> Godz. otwarcia: 12:00 - 00:00 <br> Przedział cenowy: 13zł - 76zł  </td><td><img src="/static/img/fresh.jpg" style="height: 350px;width: 700px"></td></tr>
    </tbody>
    </table>
    </center>
{% endblock %}
