{% extends 'base.html' %}

{% block content %}
    <h2>SUSHI</h2>
    <center>
    <table class="comicGreen">
    <tbody>
    <tr>
    <td><h1>77 Sushi</h1><br> ul. Woźna 10 <br> Godz. otwarcia: 12:00 - 21:30 <br> Przedział cenowy: 15zł - 420zł  </td><td><img src="/static/img/77.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Zindo Sushi</h1><br> ul. Kramarska 15 <br> Godz. otwarcia: 12:00 - 22:00 <br> Przedział cenowy: 12zł - 187zł  </td><td><img src="/static/img/zindo.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Kyokai Sushi Bar</h1><br> ul. Wojskowa 4 <br> Godz. otwarcia: 12:00 - 23:00 <br> Przedział cenowy: 12zł - 290zł  </td><td><img src="/static/img/kyo.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>GOKO Restaurcja Japońska</h1><br> ul. 27 Grudnia 3 <br> Godz. otwarcia: 12:00 - 22:30 <br> Przedział cenowy: 10zł - 590zł  </td><td><img src="/static/img/goko.jpg" style="height: 350px;width: 700px"></td></tr>
    </tbody>
    </table>
    </center>
{% endblock %}
