{% extends 'base.html' %}

{% block content %}
    <h2>TAJSKIE</h2>
    <center>
    <table class="comicGreen">
    <tbody>
    <tr>
    <td><h1>Why thai express</h1><br> ul. Żupańskiego 5 <br> Godz. otwarcia: 12:00 - 22:30 <br> Przedział cenowy: 26zł - 59zł  </td><td><img src="/static/img/whythai.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Thai Wok</h1><br> ul. Półwiejska 42 <br> Godz. otwarcia: 09:00 - 21:00 <br> Przedział cenowy: 13zł - 30zł  </td><td><img src="/static/img/thaiwok.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Parabar</h1><br> ul. Katowicka 67c <br> Godz. otwarcia: 12:00 - 23:00 <br> Przedział cenowy: 16zł - 24zł  </td><td><img src="/static/img/parabar.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Curry-mary</h1><br> ul. Szamarzewskiego 14  <br> Godz. otwarcia: 12:00 - 21:00 <br> Przedział cenowy: 14zł - 32zł  </td><td><img src="/static/img/currymary.jpg" style="height: 350px;width: 700px"></td></tr>
    </tbody>
    </table>
    </center>
{% endblock %}
