{% extends 'base.html' %}

{% block content %}
    <h2>WEGE</h2>
    <center>
    <table class="comicGreen">
    <tbody>
    <tr>
    <td><h1>ORZO</h1><br> ul. Garbary 67a <br> Godz. otwarcia: 12:00 - 23:00 <br> Przedział cenowy: 28zł - 41zł  </td><td><img src="/static/img/orzo.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Byczyn</h1><br> ul. Górna Wilda 61 <br> Godz. otwarcia: 13:00 - 21:00 <br> Przedział cenowy: 8zł - 40zł  </td><td><img src="/static/img/byczyn.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Zielona Micha</h1><br> ul. Górna Wilda 89 <br> Godz. otwarcia: 12:00 - 19:00 <br> Przedział cenowy: 13zł - 22zł  </td><td><img src="/static/img/zielona.jpg" style="height: 350px;width: 700px"></td></tr>
    <tr>
    <td><h1>Wypas</h1><br> ul. Jackowskiego 38/1 <br> Godz. otwarcia: 10:00 - 22:00 <br> Przedział cenowy: 13zł - 87zł  </td><td><img src="/static/img/wypas.jpg" style="height: 350px;width: 700px"></td></tr>
    </tbody>
    </table>
    </center>
{% endblock %}
